
<div class="row padt-10 ">
  <%= link_to "Post an accomodation", new_accomodation_path, :class =>"btn btn-primary pull-right" %>
  <div class="col-md-12">
    <h1>Available Accomodation</h1>
    <%= render @accomodations %>
  </div>
</div>
<%= will_paginate @accomodations, renderer: BootstrapPagination::Rails %>