
<div class="row padt-10">
	<%= link_to "Post a job", new_job_path, :class =>"btn btn-primary pull-right" %>
	<div class="col-md-12">
		<h1> Open Position</h1>
		<%= render @jobs %>
	</div>
</div>
<%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>