<li>
  <%= gravatar_for user, size: 40 %>
  <%= link_to user.user_job_criteria.classification, user %> 
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>