<footer class="footer">

	<div class="row">
		<div class="col-md-12">
			©ConnectYouHere. Enquiries to: connectyouhere@gmail.com
			<div class="fb-like pull-right" data-href="https://www.facebook.com/ConnectYouHere" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

		</div>
</footer>